
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
**/extensions/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
assets/**/*.js
assets/**/*.js.map      # SourceMap 文件
assets/resources/config
/node_modules/
/release/                # 打包后的发布目录
*.apk
*.ipa
*.exe
*.dmg
settings
